// variables
$search-bar-border: #e6e6e6;
$stats-color: #70757a;
$clear-button-color: #d9d9d9;
$background-color: #fff;
$font-color: #000;
$logo-blue: #4885ed;
$logo-red: #db3236;
$logo-green: #3cba54;
$logo-yellow: #ffc107;
$link-color: #1a0dab;
$link-visitor-color: #609;
$link-outline-color: #000;
$font-stack: 'Roboto', Arial, sans-serif;

%flex {
  display: flex;
  align-items: center;
}

// Mixins
@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

// main styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $background-color;
  color: $font-color;
  width: 100vw;
  min-height: 100vh;
  font-family: $font-stack;
  font-size: 22px;
}

main {
  @include flexColumn;
  min-height: calc(100vh - 60px);
}

footer {
  width: 100%;
  height: 60px;

  @include flexCenter;

  p {
    color: $stats-color;
    font-size: 0.5rem;
    @include mq(768px) {
      font-size: 1rem;
    }

    a {
      color: $stats-color;
    }
  }
}

img {
  display: block;
}
