.blue {
  color: $logo-blue;
}

.red {
  color: $logo-red;
}

.yellow {
  color: $logo-yellow;
}

.green {
  color: $logo-green;
}

.exclaim {
  display: inline-block;
  font-size: 2.5rem;
  transform: rotate(12deg);
  @include mq(768px) {
    font-size: 5rem;
  }
}

.offscreen {
  position: absolute;
  left: -12000px;
}

.none {
  display: none;
}

.flex {
  display: flex;
}
